* {
    margin: 0;
    padding: 0;
}

body {
    background: white url('../img/intro-page-ex6.png') no-repeat fixed;
    background-position: center;
    background-size: cover;
    font-family: "Slabo 27px", sans-serif;
}

div {
    margin: 5% auto 0;
    width: 800px;
}

a {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    float: left;
    transition: color 0.5s;
}